/*footer contents */
@footer:.mainfoot;
/* Responsive Views */
@mobile:(max-width:600px);
@tablet:(max-width:992px);
@lap:(max-width:1150px);
@small:(max-width:394px);
/* footer division */
@{footer}
{
display:flex;
flex-direction:row;
justify-content:space-between;
background-color:black;
color:white;
/*footer in mobile view */
@media@mobile,@tablet
{
display:flex;
flex-direction:column !important;
}
/* footer class for footer divison arrangements*/
.footer {
  color:#ff3d00;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding: 30px;
  font-weight:bold;
  line-height:1.5p;
  & li
  {
  color:white;
  }
  /* Unordered list of footer */
    ul {
	    margin-left:-40px;
         list-style-type: none;
        }
	.foo2 {
	   margin-left:-40px;
	    .foo3
		{
		 
         color: white;
        }
		}
		.foo3{
		margin-left:-40px;}
 .foo1 {
  color: #5b5b5b !important;
  font-size: 18px;
  & li:first-child
  { 
    color:white;
  }   
    @media@small
  {
  font-size:15px !important;
  line-height:1.8;
  }
}
/*icon elements twitter, fb */
.qode-icon-element {
  color: #ff3d00;

}
/* mobile view footer contents */
@media@mobile
{
    text-align: left;
    margin-left:0px;
  }
}

  }