/* Image series container */
@container2:.row_2;
/* Responsive view */
@mobile:(max-width:600px);
@tablet:(max-width:992px);
@lap:(max-width:1150px);
.shadow (@value)
{
  -moz-box-shadow:@value;
  -webkit-box-shadow: @value;
}
/* Image series */
@{container2}
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  margin: 20px 90px 20px 90px;
/* content 2 image series */
.ban1 {
  border: 1px solid #f1f1f1;
  display: inline-block;
  padding: 10px;
  .shadow(none);
  margin:auto;
  }
  /*mobile view of image series */
@media@mobile,@lap,@tablet
{
display:flex;
-webkit-flex-wrap: wrap;
flex-wrap:wrap;
overflow:hidden;
}
}
#c2
{
font-size:30px;
padding-top:10px;
font-size: 34px !important;
font-family: 'Raleway',sans-serif;
line-height: 30px !important;
letter-spacing: .8px !important;
}
