/* Image series container */
/* Responsive view */
/* Image series */
.row_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Raleway', sans-serif;
  margin: 20px 90px 20px 90px;
  /* content 2 image series */
  /*mobile view of image series */
}
.row_2 .ban1 {
  border: 1px solid #f1f1f1;
  display: inline-block;
  padding: 10px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: auto;
}
@media (max-width:600px) {
  .row_2 .ban1 {
    border: 1px solid gray;
    padding: 0px !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }
}
@media (max-width:394px) {
  .row_2 .ban1 {
    margin: auto !important;
    width: 100%;
  }
}
@media (max-width:600px), (max-width:1150px), (max-width:992px) {
  .row_2 {
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media (max-width:394px) {
  .row_2 {
    display: flex;
    flex-direction: column !important;
  }
}
#c2 {
  font-size: 30px;
  padding-top: 10px;
  font-size: 34px !important;
  font-family: 'Raleway', sans-serif;
  line-height: 30px !important;
  letter-spacing: 0.8px !important;
}
