/*slides */
/* general property none */
.none {
  display: none;
}
/*class slide */
.slide {
  /* alternative image for mobile view */
}
.slide .org_img {
  display: none;
}
@media (max-width:600px), (max-width:1150px), (max-width:992px) {
  .slide .org_img {
    display: none !important;
  }
}
.slide .alt {
  display: none;
}
@media (max-width:600px), (max-width:1150px), (max-width:992px) {
  .slide .alt {
    display: block;
    width: 100%;
    height: auto !important;
  }
}
@media (min-width: 0px) {
  .slide #prev,
  .slide #next {
    display: none;
  }
}
