/*slides */
/* Responsive views */
@mobile:(max-width:600px);
@tablet:(max-width:992px);
@lap:(max-width:1150px);
@slide:.slide;
@color1:white;
/* general property none */
.none{
display:none;
}
/*class slide */
@{slide}
{
.org_img
{
.none();
@media@mobile,@lap,@tablet
{
&
{
      display:none !important;
}
}
}
/* alternative image for mobile view */
.alt{
    .none();
@media@mobile,@lap,@tablet
{
&
{    display: block;
    width: 100%;
    height: auto !important;
}
}
}
@media(min-width:0px)
{
#prev,#next
{
display:none;
}
}
}