/*Video Container */
/* Resonsive views */
@mobile:(max-width:600px);
@tablet:(max-width:992px);
@lap:(max-width:1150px);
@videocontainer:.video;
@hovercolor:orangered;
/*video content */
@{videocontainer}
{
/*image for video */
.vidimg
{
@media@mobile,@tablet,@lap
{
    object-fit: cover;
     height:300px;
    background-color: lightgray;
}
}
/*background */
background-color:lightgray;
padding-bottom:10px;
/* button */
.but2
{
  height: 58px;
  line-height: 58px;
  font-size: 20px;
  padding: 0 22px;
  background-color: transparent !important;
  border: 2px solid #050404 !important;
  color: #090909 !important;
  width: 314px;
  text-align: center;
  border-radius: 38px;
  &:hover
  {
   background-color:@hovercolor !important;
   border: 2px solid @hovercolor !important;
   color: white !important;
   font-weight: bold;
  }
  @media@mobile,@tablet,@lap
  {
  width:200px;
   font-size: 15px;
  }
}
/*mobile view */
@media@mobile,@lap,@tablet
{
height:auto;
}
}
.container2
{
margin-top:30px !important;
}