/*Video Container */
/*video content */
.video {
  /*image for video */
  /*background */
  background-color: lightgray;
  padding-bottom: 10px;
  /* button */
  /*mobile view */
}
@media (max-width:600px), (max-width:992px), (max-width:1150px) {
  .video .vidimg {
    object-fit: cover;
    height: 300px;
    background-color: lightgray;
  }
}
.video .but2 {
  height: 58px;
  line-height: 58px;
  font-size: 20px;
  padding: 0 22px;
  background-color: transparent !important;
  border: 2px solid #050404 !important;
  color: #090909 !important;
  width: 314px;
  text-align: center;
  border-radius: 38px;
}
.video .but2:hover {
  background-color: orangered !important;
  border: 2px solid orangered !important;
  color: white !important;
  font-weight: bold;
}
@media (max-width:600px), (max-width:992px), (max-width:1150px) {
  .video .but2 {
    width: 200px;
    font-size: 15px;
  }
}
@media (max-width:600px), (max-width:1150px), (max-width:992px) {
  .video {
    height: auto;
  }
}
.container2 {
  margin-top: 30px !important;
}
