/* body alignment */
body
{
margin:0;
}
/* navigation bar */
.nav
{
    top:0;
   padding:25px;
   display:flex;
   justify-content:flex-end;
   background-color: rgba(0, 0, 0, 0.1);
   position:fixed;
   width:95%;
   margin-left:0 !important;
   font-family: 'Raleway',sans-serif;
}
/* anchor tag in nav bar */
.nav-link
{

text-decoration:none;
color:white;
margin: 0 20px;
font-weight:bold;
text-transform: uppercase;
font-size: 13px;
letter-spacing: 1px;
}
/* content 1 alignments */
.row_1
{
display:flex;
flex-basis:30%;
flex-direction:row;
justify-content:space-between;
font-family: 'Raleway',sans-serif;
margin:20px 50px 60px 50px;
}
/* content 1 */
.div
{
background-color:lightgray;
padding:70px;
}
/* logo img fitness */
.logo_img {
display:block;
    position: absolute !important;
    left: 0 !important;
	top:0;
	width: auto !important;
    max-width: none;
	height:95%;
	margin:0 0 30px 40px;
}
/*phone icon in nav bar */
.nav .icon
{
display:none;
}
/* Not displaying */
.alt
{
	display:none;
}
/* Content 1 header alignment */
.p1
{
	font-family: 'Raleway',sans-serif;
	color: black;
font-size: 30px;
line-height: 25px;
font-style: normal;
font-weight: bold;
letter-spacing: .8px;
text-transform: uppercase;
	
}
/* content 2 image series */
.ban1
{
	border:1px solid #f1f1f1;
display:inline-block;
padding:10px;
box-shadow:none;

}

.item{
  width:200px;
  text-align:center;
  display:flex;
  background-color: transparent;
  border: 1px solid transparent;
  justify-content:space-between;
}

/* content 4 display box */
#index-gallery{
margin: 20px 120px 60px 120px;
	text-align:left;
	width:80%;
	height:50%;
	display:flex;
	justify-content:space-between;
	flex-basis:auto;
   font-family: 'Raleway',sans-serif;
   flex-direction:row;
  padding:50px;
   font-size: 20px;
   border:1px solid #f1f1f1;
padding:10px;
box-shadow:none;
}
/* anchor tag in content4 */
.news
{
	text-decoration:none;
	color:black;
	font-size:15px;
	font-family: 'Raleway',sans-serif;
	text-overflow: ellipsis;
}
 /* footer class for footer divison arrangements */
.footer {
	padding:20px;
   width: 100%;
   background-color: black;
   color: white;
   text-align: left;
}
/* button decoration for content 1 & 4*/
.but1
{
	color: #000;
background-color: transparent !important;
margin-left: 0px;
border: 2px solid black !important;
border-radius: 21px;
padding-bottom: 7px;
padding-top: 7px;
}
/* button hover for content 1 & 4 */
.but1:hover
{
	color:white;
background-color: orangered !important;
margin-left: 0px;
border: 2px solid orangered!important;
border-radius: 21px;
padding-bottom: 7px;
padding-top: 7px;
}
	/*p2" class text arrangements in body content */
.p2
{
	color: #5b5b5b;
font-family: 'Open Sans',sans-serif;
font-size: 15px;
line-height: 26px;
font-style: normal;
font-weight: 400;
}
/* for content 1 body headLine */
h5
{
	color: #515151;
font-size: 15px;
line-height: 25px;
font-style: normal;
font-weight: bold;
text-transform: uppercase;
}
/* button in content 3 */
.but2
{
height: 58px;
line-height: 58px;
font-size: 20px;
padding: 0 22px;
background-color: transparent !important;
border: 2px solid #050404 !important;
color: #090909 !important;
width: 314px;
text-align: center;
border-radius: 38px;
}
/*button hover in content 3 */
.but2:hover
{
	height: 58px;
line-height: 58px;
font-size: 20px;
padding: 0 22px;
background-color: orangered !important;
border: 2px solid orangered !important;
color: white !important;
width: 314px;
text-align: center;
border-radius: 38px;
	background-color:orange;
	font-weight:bold;
}
/* "p3" for alignments "p" tag contains images, a tag and one button in content 4 */
.p3
{
flex-wrap:wrap;
color: #5b5b5b;
font-family: 'Open Sans',sans-serif;
font-size: 15px;
line-height: 26px;
font-style: normal;
font-weight: 400;
padding: 26px 0 0;
text-align:left;
}
/* row_2 class for display flex in content 2 */
.row_2
{
display:flex;
flex-basis:30%;
flex-direction:row;
justify-content:space-between;
font-family: 'Raleway',sans-serif;
margin:20px 90px 20px 90px;
}
/* after content3 displaying button background */
.viddown
{
	background-color:lightgray;
}
/*  "mainfoot" class for whole footer alignments */
.mainfoot
{
	text-align:left;
	width:100%;
	display:flex;
	justify-content:space-between;
	flex-basis:auto;
   font-family: 'Raleway',sans-serif;
   flex-direction:row;
   font-size: 20px;
}
/* "footer class for footer divison arrangements*/
.footer
{
	color: #ff3d00;
font-family: Raleway,sans-serif;
font-size:15px;
padding:30px;
}
/* "foo1" class for arrangements of unordered list */
.foo1
{
	color: #5b5b5b!important;
	font-size: 18px;
}
/*just it changes the color */
li:first-child
{
	color:white;
}
/* foo2 class for changes color in footer list */
.foo2
{
	color:white;
}
/* footer icon elements */
.qode-icon-element {
    color: #ff3d00;
}
/* displaying list without bullets */
ul {
  list-style-type: none;
}
/*final line of webpage */
.textwidget
{
	padding:10px;
	background-color:black;
	color:white;
	text-align:center;
	font-size:12px;
}	
/* navigation bar contains one button */
.cbut
{
	background-color: rgba(0, 0, 0, 0.1);
	width:12%;
	color: white;
border: 3px solid white !important;
border-radius: 21px;
  margin-top: -7px;
font-weight:bold;
padding-bottom: 7px;
padding-top: 7px;
}
/*nav bar's button hover */
.cbut:hover
{
	background-color: orange;
	width:12%;
	color: white;
margin-top:-7px;
border: 3px solid orange !important;
border-radius: 21px;
font-weight:bold;
padding-bottom: 7px;
padding-top: 7px;
}
/* Mobile View */
@media only screen and (max-width: 768px) {
	/* navigation contents */
  a.nav-link{
    display: none;
  }
  /* website logo */
  img.logo_img
{
display:block;
    left: 0 !important;
	top:0;
	margin: 0 auto;
	margin-top:20px;
	margin-left:20px;
	height:50px !important;
	width:auto !important;
	font-size: 14px;
	}
	/* navigation bar */
	div.nav
{
   background-color: black;
   height:50px;
   padding:20px;
   position:relative;
  }
  /* navigation bar button.. display none in mobile view */
  button.cbut
  {
  display:none;
  }
  /* "row_1" class used for content1 body ,wrapping the content in mobile view */
 div.row_1
{
display:flex;
-webkit-flex-wrap: wrap; 
flex-wrap:wrap;
text-align:left;
font-family: 'Raleway',sans-serif;
margin:10px 20px 10px 20px;
}
/* "p1" class used for header alignment in content1- changes the alignments */
p.p1{
line-height: 30px !important;
letter-spacing:.8px;
width:100%;
margin-left:10px;
text-align:center;
padding:0;
}
/* row_2" class used for Image alignments-wrapping */
div.row_2{
display:flex;
-webkit-flex-wrap: wrap; 
flex-wrap:wrap;
height:19%;
overflow:hidden;
}
/* "Index-gallery" class used for Content 4 alignments */
 div#index-gallery{
 border:none;
 padding:10px;
 display:flex;
-webkit-flex-wrap: wrap; 
flex-wrap:wrap;
font-family: 'Raleway',sans-serif;
overflow:hidden;
margin-left:20px;
text-align:center;
}
/*content 4anchor tag wrapping */
 a.news{
 font-size:15px;
 }
 /* video img size*/
 img.vidimg
 {
 width:100%;
 height:20%
}
/* footer wrapping */
div.mainfoot
{
display:flex;
flex-wrap:wrap;
}
/* footer elements wrapping */
div.footer
{
text-align:left;
margin-left:0;
}
/*showing hamburger menu */
.nav a.icon {
    float: right;
    display: block;
    color:white;
    margin-top:15px;
	margin-right:30px;
	font-weight:bold;
	font-size:25px;
  }
  /* not display image in mobile view */
  img.org_img
  {
	  display:none;
  }
  /* alternative img display only in mobile view */
  img.alt
  {
	  display:block;
	  width:100%;
	  height:20%;
  }
}/* End of mobile view */

