
.button1 {

  border-radius: 50%;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.p1
{
	font-family: 'Raleway',sans-serif;
	color: black;
font-size: 30px;
line-height: 25px;
font-style: normal;
font-weight: bold;
letter-spacing: .8px;
text-transform: uppercase;
	
}
.ban1
{
	border:1px solid #f1f1f1;
display:inline-block;
padding:10px;
box-shadow:none;

}
.item{
  width:200px;
  text-align:center;
  display:flex;
  background-color: transparent;
  border: 1px solid transparent;
  justify-content:space-between;
}

#index-gallery{
margin: 20px 120px 60px 120px;
	text-align:left;
	width:80%;
	height:50%;
	display:flex;
	justify-content:space-between;
	flex-basis:auto;
   font-family: 'Raleway',sans-serif;
   flex-direction:row;
  padding:50px;
   font-size: 20px;
   border:1px solid #f1f1f1;
padding:10px;
box-shadow:none;
}
.news
{
	text-decoration:none;
	color:black;
	font-size:15px;
	font-family: 'Raleway',sans-serif;
	text-overflow: ellipsis;
}

.footer {
	padding:20px;
   width: 100%;
   background-color: black;
   color: white;
   text-align: left;
}
.but1
{
	color: #000;
background-color: transparent !important;
margin-left: 0px;
border: 2px solid black !important;
border-radius: 21px;
padding-bottom: 7px;
padding-top: 7px;
}
.but1:hover
{
	color:white;
background-color: orangered !important;
margin-left: 0px;
border: 2px solid orangered!important;
border-radius: 21px;
padding-bottom: 7px;
padding-top: 7px;
}
	
.p2
{
	color: #5b5b5b;
font-family: 'Open Sans',sans-serif;
font-size: 15px;
line-height: 26px;
font-style: normal;
font-weight: 400;
}
h5
{
	color: #515151;
font-size: 15px;
line-height: 25px;
font-style: normal;
font-weight: bold;
text-transform: uppercase;
}
.but2
{
height: 58px;
line-height: 58px;
font-size: 20px;
padding: 0 22px;
background-color: transparent !important;
border: 2px solid #050404 !important;
color: #090909 !important;
width: 314px;
text-align: center;
border-radius: 38px;
}
.but2:hover
{
	height: 58px;
line-height: 58px;
font-size: 20px;
padding: 0 22px;
background-color: orangered !important;
border: 2px solid orangered !important;
color: white !important;
width: 314px;
text-align: center;
border-radius: 38px;
	background-color:orange;
	font-weight:bold;
}
.p3
{
flex-wrap:wrap;
color: #5b5b5b;
font-family: 'Open Sans',sans-serif;
font-size: 15px;
line-height: 26px;
font-style: normal;
font-weight: 400;
padding: 26px 0 0;
text-align:left;
}
.row_2
{
display:flex;
flex-basis:30%;
flex-direction:row;
justify-content:space-between;
font-family: 'Raleway',sans-serif;
margin:20px 90px 20px 90px;
}
.viddown
{
	background-color:lightgray;
}
.mainfoot
{
	text-align:left;
	width:100%;
	display:flex;
	justify-content:space-between;
	flex-basis:auto;
   font-family: 'Raleway',sans-serif;
   flex-direction:row;
   font-size: 20px;
}
.footer
{
	color: #ff3d00;
font-family: Raleway,sans-serif;
font-size:15px;
padding:30px;
}
.foo1
{
	color: #5b5b5b!important;
	font-size: 18px;
}
li:first-child
{
	color:white;
}
.foo2
{
	color:white;
}
.qode-icon-element {
    color: #ff3d00;
}
ul {
  list-style-type: none;
}
.textwidget
{
	padding:10px;
	background-color:black;
	color:white;
	text-align:center;
	font-size:12px;
}	
.cbut
{
	background-color: rgba(0, 0, 0, 0.1);
	width:12%;
	color: white;
border: 3px solid white !important;
border-radius: 21px;
  margin-top: -7px;
font-weight:bold;
padding-bottom: 7px;
padding-top: 7px;
}
.cbut:hover
{
	background-color: orange;
	width:12%;
	color: white;
margin-top:-7px;
border: 3px solid orange !important;
border-radius: 21px;
font-weight:bold;
padding-bottom: 7px;
padding-top: 7px;
}@media only screen and (max-width: 768px) {
  a.nav-link{
    display: none;
  }
  
  img.logo_img
{
display:block;
    left: 0 !important;
	top:0;
	margin: 0 auto;
	margin-top:20px;
	margin-left:20px;
	height:50px !important;
	width:auto !important;
	font-size: 14px;
	}
	
	div.nav
{
   background-color: black;
   height:50px;
   padding:20px;
   position:relative;
  }
  
  button.cbut
  {
  display:none;
  }
 div.row_1
{
display:flex;
-webkit-flex-wrap: wrap; 
flex-wrap:wrap;
text-align:left;
font-family: 'Raleway',sans-serif;
margin:10px 20px 10px 20px;
}
p.p1{
line-height: 30px !important;
letter-spacing:.8px;
width:100%;
margin-left:10px;
text-align:center;
padding:0;
}
div.row_2{
display:flex;
-webkit-flex-wrap: wrap; 
flex-wrap:wrap;
height:19%;
overflow:hidden;
}

 div#index-gallery{
 border:none;
 padding:10px;
 display:flex;
-webkit-flex-wrap: wrap; 
flex-wrap:wrap;
font-family: 'Raleway',sans-serif;
overflow:hidden;
margin-left:20px;
text-align:center;
}

 a.news{
 font-size:15px;
 }
 img.vidimg
 {
 width:100%;
 height:20%
}
div.mainfoot
{
display:flex;
flex-wrap:wrap;
}
div.footer
{
text-align:left;
margin-left:0;
}
.nav a.icon {
    float: right;
    display: block;
    color:white;
    margin-top:15px;
	margin-right:30px;
	font-weight:bold;
	font-size:25px;
  }
  
}
body
{
margin:0;
}
.nav
{
    top:0;
   padding:25px;
   display:flex;
   justify-content:flex-end;
   background-color: rgba(0, 0, 0, 0.1);
   position:fixed;
   width:95%;
   margin-left:0 !important;
   font-family: 'Raleway',sans-serif;
}

.nav-link
{

text-decoration:none;
color:white;
margin: 0 20px;
font-weight:bold;
text-transform: uppercase;
font-size: 13px;
letter-spacing: 1px;
}
.row_1
{
display:flex;
flex-basis:30%;
flex-direction:row;
justify-content:space-between;
font-family: 'Raleway',sans-serif;
margin:20px 50px 60px 50px;
}
.div
{
background-color:lightgray;
padding:70px;
}
.logo_img {
display:block;
    position: absolute !important;
    left: 0 !important;
	top:0;
	width: auto !important;
    max-width: none;
	height:95%;
	margin:0 0 30px 40px;
}
.nav .icon
{
display:none;
}